<div class="jumbotron fade in">

    <!-- trying out the carousel as a header -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <%= image_tag("forest-heli.jpg", alt:"Forest Helicopter") %>
                <div class="carousel-caption">
                    <h1>Do you need a PLB?</h1>
                </div>
            </div>
            <div class="item">
                <%= image_tag("rescue-boat.jpg", alt:"Rescue Boat") %>
                <div class="carousel-caption">
                    <h1>Do you need a PLB?</h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <h2><small>Call for rescue when you need it most!</small></h2>
    <p>A PLB is a handheld electronic device that calls for search and rescue assistance when activated.</p>
    <p>Nearly 40,000 people worldwide have been rescued since the introduction of this lifesaving technology in 1982.  These beacons are small and cheap enough for anyone to use.
        Get a PLB for your best chance of rescue in a backcountry emergency.
    <ul>
        <li>Are you confused about the difference between PLBs, EPIRBs, or ELTs?</li>
        <li>Are you confused about the pros and cons of the different global satellite networks: Cospas-Sarsat, Iridium, and Globalstar?</li>
        <li>Are you questioning whether to spend hundreds of dollars on another piece of outdoor gear?</li>
    </ul>
    <p>I've created this site to help you:</p>
    <ul>
        <li>Decide if a PLB is worth the cost</li>
        <li>Choose a device for your needs</li>
    </ul>
    <div style="text-align:center;">
    <p>Take the 5 question outdoor activity quiz now:</p>
    <button class="btn btn-lg btn-primary" id="start">Start the Quiz »</button>
    </div>
</div>

