<% provide(:title, "Quiz") %>
<%= render 'static_pages/splash_header' %>

<div class="jumbotron fade hidden" id="quiz">
    <div id="firstQuestion" class="questionContainer fade in" data-name="q1">
        <h3>Question 1/5</h3>
        <div class="well">
        <p>You are looking for:</p>
        <div class="btn-group-vertical" data-toggle="buttons">
            <label class="btn btn-primary"><input type="radio" name="q1" value="choice1" autocomplete="off">A handheld device that will be activated manually in an emergency.</label>
            <label class="btn btn-primary"><input type="radio" name="q1" value="choice2" autocomplete="off">Device mounted to a boat that activates automatically in an emergency.</label>
            <label class="btn btn-primary"><input type="radio" name="q1" value="choice3" autocomplete="off">Device mounted to a plane that activates automatically in an emergency.</label>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-5"></div>
            <div class="col-md-2"><button type="button" class="btn btn-success btn-block next">Next</button></div>
            <div class="col-md-5"></div>
        </div>

        </div>
    </div>

    <div class="questionContainer hidden fade" data-name="q2">
        <h3>Question 2/5</h3>
        <div class="well">
            <p>How many people are you traveling with?</p>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary"><input type="radio" name="q2" value="0" autocomplete="off">0-2</label>
                <label class="btn btn-primary"><input type="radio" name="q2" value="1" autocomplete="off">3-5</label>
                <label class="btn btn-primary"><input type="radio" name="q2" value="2" autocomplete="off">6+</label>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4"></div>
                <div class="col-xs-6 col-md-2"><button type="button" class="btn btn-success btn-block previous">Previous</button></div>
                <div class="col-xs-6 col-md-2"><button type="button" class="btn btn-success btn-block next">Next</button></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="questionContainer hidden fade" data-name="q3">
        <h3>Question 3/5</h3>
        <div class="well">
            <p>How many days will you be in a remote area (no cell service)?</p>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary"><input type="radio" name="q3" value="3" autocomplete="off">0 (will have service)</label>
                <label class="btn btn-primary"><input type="radio" name="q3" value="4" autocomplete="off">1-4</label>
                <label class="btn btn-primary"><input type="radio" name="q3" value="5" autocomplete="off">5+</label>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4"></div>
                <div class="col-xs-6 col-md-2"><button type="button" class="btn btn-success btn-block previous">Previous</button></div>
                <div class="col-xs-6 col-md-2"><button type="button" class="btn btn-success btn-block next">Next</button></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="questionContainer hidden fade" data-name="q4">
        <h3>Question 4/5</h3>
        <div class="well">
            <p>Will you be traveling to these areas:</p>
                <ul class="list-unstyled">
                    <li>Sub-Saharan Africa</li>
                    <li>Polar regions (beyond the Arctic/Antarctic Circle)</li>
                    <li>Southern tip of South America</li>
                    <li>India</li>
                </ul>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary"><input type="radio" name="q4" value="6" autocomplete="off">Yes</label>
                <label class="btn btn-primary"><input type="radio" name="q4" value="7" autocomplete="off">No</label>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4"></div>
                <div class="col-xs-6 col-md-2"><button type="button" class="btn btn-success btn-block previous">Previous</button></div>
                <div class="col-xs-6 col-md-2"><button type="button" class="btn btn-success btn-block next">Next</button></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="questionContainer hidden fade" data-name="q5">
        <h3>Question 5/5</h3>
        <div class="well">
            <p>Chose for each question:</p>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-12 col-md-4" style="text-align:center;">
                    I am OK paying for a monthly data subscription:
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary"><input type="radio" name="q5a" value="8" autocomplete="off">Yes</label>
                        <label class="btn btn-primary active"><input type="radio" name="q5a" value="9" autocomplete="off" checked>Not Sure</label>
                        <label class="btn btn-primary"><input type="radio" name="q5a" value="10" autocomplete="off">No</label>
                    </div>
                 </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-12 col-md-4" style="text-align:center;">
                    I need two-way messaging features:
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary"><input type="radio" name="q5b" value="11" autocomplete="off">Yes</label>
                        <label class="btn btn-primary active"><input type="radio" name="q5b" value="12" autocomplete="off" checked>Not Sure</label>
                        <label class="btn btn-primary"><input type="radio" name="q5b" value="13" autocomplete="off">No</label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-12 col-md-4" style="text-align:center;">
                    I need a lightweight device:
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary"><input type="radio" name="q5c" value="14" autocomplete="off">Yes</label>
                        <label class="btn btn-primary active"><input type="radio" name="q5c" value="15" autocomplete="off" checked>Not Sure</label>
                        <label class="btn btn-primary"><input type="radio" name="q5c" value="16" autocomplete="off">No</label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-12 col-md-4" style="text-align:center;">
                    I'm willing to pay over $200:
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary"><input type="radio" name="q5d" value="17" autocomplete="off">Yes</label>
                        <label class="btn btn-primary active"><input type="radio" name="q5d" value="18" autocomplete="off" checked>Not Sure</label>
                        <label class="btn btn-primary"><input type="radio" name="q5d" value="19" autocomplete="off">No</label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-12 col-md-4" style="text-align:center;">
                    The device should float:
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary"><input type="radio" name="q5e" value="20" autocomplete="off">Yes</label>
                        <label class="btn btn-primary active"><input type="radio" name="q5e" value="21" autocomplete="off" checked>Not Sure</label>
                        <label class="btn btn-primary"><input type="radio" name="q5e" value="22" autocomplete="off">No</label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-12 col-md-4" style="text-align:center;">
                    I need on-screen navigation and tracking:
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary"><input type="radio" name="q5f" value="23" autocomplete="off">Yes</label>
                        <label class="btn btn-primary active"><input type="radio" name="q5f" value="24" autocomplete="off" checked>Not Sure</label>
                        <label class="btn btn-primary"><input type="radio" name="q5f" value="25" autocomplete="off">No</label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4"></div>
                <div class="col-xs-6 col-md-2"><button type="button" class="btn btn-success btn-block previous">Previous</button></div>
                <div class="col-xs-6 col-md-2"><button type="button" class="btn btn-success btn-block finish">Finish »</button></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div id="notice" class="hidden">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 alert alert-warning">Please choose an option.</div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div id="result-epirb" class="result hidden fade">
        <h2>You do not need a PLB <small>But maybe an EPIRB</small></h2>
        <p>If you are looking for a device that will attach to a boat and be registered with a vessel, you are looking for an EPIRB (<strong>E</strong>mergency <strong>P</strong>osition <strong>I</strong>ndicating <strong>R</strong>adio <strong>B</strong>eacon).  Try visiting <a href="http://www.epirb.com/">this page</a> for more information.</p>
        <button type="button" class="btn btn-default again">Start Again</button>
    </div>
    <div id="result-elt" class="result hidden fade">
        <h2>You do not need a PLB <small>But maybe an ELT</small></h2>
        <p>If you are looking for a device that will attach to a plane, you are looking for an ELT (<strong>E</strong>mergency <strong>L</strong>ocator <strong>T</strong>ransmitter).  Try the <a href="https://www.acrartex.com/products#1125">ACR Artex Page</a> for more information.</p>
        <button type="button" class="btn btn-default again">Start Again</button>
    </div>

    <%= render 'static_pages/result_plb' %>
</div>

