<% provide(:title, "Rescues") %>

<div class="jumbotron fade in">
    <h2>Nearly 40,000 people have been rescued worldwide with PLB technology</h2>

    <p>All the major manufacturers of PLBs and other locator devices record survivor stories:</p>
    <p><a href="https://www.acrartex.com/survivors/">Rescue stories from ACR, creators of the ACR ResQLink</a></p>
    <p><a href="http://www.mcmurdomarine.com/rescues">Rescue stories from McMurdo Marine, creators of the FastFind PLB</a></p>
    <p><a href="http://inreachdelorme.com/why-inreach/inreach-rescues.php">Rescue stories from DeLorme, creators of the inReach</a></p>
    <p><a href="http://www.findmespot.com/en/spotemergency/">Rescue stories from SPOT</a></p>

    <p><a href="https://www.cospas-sarsat.int/en/search-and-rescue/statistics">Map of rescues on the Cospas-Sarsat network</a></p>

    <p>Remember, when activated these devices will mobilize rescue personnel, and should be registered (in the appropriate country, in the US see the <a href="http://www.sarsat.noaa.gov/beacon.html">NOAA</a>).</p>
    <p>PLBs should:</p>
    <ul>
        <li>Always be registered for best chance of rescue</li>
        <li>Only be activated in cases of life threatening emergency</li>
        <li>Are not a replacement for careful planning and judgement of your own abilities</li>
    </ul>

    <p>If you don't register and use the device properly, you will waste the time and resources of rescue workers.  One user in Colorado mistook his PLB for an avalanche beacon and activated it every time he went skiing:</p>
    <p><a href="http://www.denverpost.com/sports/ci_14501974">Rescue group finds ignorant beacon owner who triggered false alarms</a></p>
    <p>This article shares the story of hikers in the Grand Canyon who activated their PLB because they had not packed enough water, and the water they later found 'tasted salty':</p>
    <p><a href="http://www.nbcnews.com/id/33470581/ns/us_news-life/t/tired-hike-rescuers-fear-yuppie/#.Vg1fkflVhBc">Tired from a hike?  Rescuers fear Yuppie 911</a></p>
</div>

