<% provide(:title, "Who Made This") %>

<div class="jumbotron">
    <h2>What is this?</h2>
    <div class="row">
        <div class="col-md-8">
            <p>
                A few months ago I started planning a backpacking trip in Australia and New Zealand.  I was going to be
                alone and out of cellphone service, so I wanted to get a locator beacon.  I spent almost a week researching
                different options.  It's confusing!  Eventually I chose the ACR ResQLink.
            </p>
            <p>After I got back I was trying to learn a little web design--HTML, CSS, Javascript--and had this idea for a small project.  Was anything here useful?  Terrible?  Let me know!  mike@doineedaplb.com</p>
        </div>
        <div class="col-md-4"><%= image_tag("me_w_plb.jpg", alt:"Me holding a PLB") %></div>
    </div>

</div>


